extends layout

block content
  h1=title
  
  if eliquid_list.length
    h4 delete this eliquids to delete this category:
    ul
      each eliquid in eliquid_list
        li
           a(href=eliquid.url)= eliquid.name
  else
    p Are you sure you want to delete #{category.name} category?
    
    form(method="POST")
      div.form-group
         label(for="admin_key") Admin key:
         input(style="margin-bottom: 10px" type="password" class="form-control" name="admin_key" id="admin_key" required)
         input.form-control(type="hidden" name="categoryid" value=category._id)
         if error
            p(style="color: red")= error
         button.btn.btn-danger(type="submit") Delete Category

