extends layout


block content
  h1= title

  if eliquid_list.length
    div(style="text-align: center")
      each eliquid in eliquid_list
        dl
          dt
            a(href=eliquid.url) #{eliquid.name}
          img(src=`/${eliquid.photo}` class="eliquid_image")
          dd #{eliquid.description}
